{% extends 'base.html'%} 
{% from 'comment_macro.html' import display_comments%} 
{% import 'bootstrap/wtf.html' as wtf %} 
{% block styles %} 
{{super()}}
<title>{{title}}</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/particle.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"> 
{% endblock %} 
{% block content %}

<div style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNjiY5xXQbSma3CgkjYY7otsvuCixIrYeGHQ&usqp=CAU');background-size: cover;background-repeat: no-repeat;height: 700px;"><br><br>
    <div class="container-fluid">

        <div>
            <a href="/blogs"><button class="btn btn-danger" style="border-radius: 5px;"> See blogs</button></a>
        </div><br><br><br><br><br>
        <div class="row col-md-12">
            <div class="col-md-5">
                
                <div class="text-white">{{wtf.quick_form(form)}}</div>
            </div>
            <div class="col-md-7">
                <h4 class="text-center text-white">Author:</h4>
                <p>{{display_comments(comments)}}</p>
    
            </div>
        </div>

    </div>
    

</div>
{% endblock%}